<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vijaygaike.basicbanking" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BasicBanking"
        tools:targetApi="31" >
        <activity
            android:name=".on_success"
            android:exported="false"
            android:theme="@style/splashStyle"/>
        <activity
            android:name=".money_sent"
            android:exported="false" />
        <activity
            android:name=".show_profile"
            android:exported="false" />
        <activity
            android:name=".create_transaction"
            android:exported="false"
            android:label="@string/create_transaction" />
        <activity
            android:name=".show_all_users"
            android:exported="false"
            android:label="@string/all_users" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/home" />
        <activity
            android:name=".splashScreen"
            android:exported="true"
            android:theme="@style/splashStyle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>